@import 'variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1440 * 10);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1050px) {
  html {
    font-size: calc(100vw / 1200 * 20);
  }
}