:root {
  --primary-color: #00BFFF;
  --card-background: #2C2C2C;
  --border-card-color: #808080;
  --background-color: #1B1B1B;

  --title-color: #FFFFFF;
  --description-color: #C3C3C3;
  --text-color: #F4F4F4;
}